/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Bebas, sans-serif;
	background-color: #F8F3ED;
}

/* Changing the background colour for the header */

header {
	background-color: #29656C;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
