/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Railway, sans-serif;
	background-color: #F8F3ED;
}

/* Changing the background colour for the header */

header {
	font-family: Bebas Neue, sans-serif;
	background-color: #29656C;
}

/* Changing the background color for the navigation bar */

.navbar {
	font-family: 'Cormorant Garamond', serif;
	background-color: #FFFFFF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #29656C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #29656C;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #F8F3ED;
  padding: 20px;
}

/*CUSTOMER TESTIMONIALS
/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  border: 2px solid #F8F3ED;
  background-color: #F8F3ED;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
  float: left;
}

/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
